package db

import (
    "log"
    "{{ .Package }}"
    "{{ .Package }}/migrate"
    "context"
)

var Client *ent.Client

func Init() {
    client, err := ent.Open("{{ .DBConfig.Driver }}", "{{ .DBConfig.Dsn }}")
    if err != nil {
        log.Fatalln(err)
    }
    
    err = client.Schema.Create(
		context.Background(),
		migrate.WithDropColumn(true),
		migrate.WithDropIndex(true),
	)

    if err != nil {
        log.Fatalln(err)
    }
    Client = client
}