package db

import (
    "log"
    "{{ .Package }}/ent"
    "{{ .Package }}/ent/migrate"
}

var Client *ent.Client

func Init() {
    client, err := ent.Open("{{ .DBConfig.Driver }}", "{{ .DBConfig.Dsn }}")
    if err != nil {
        log.Fatalln(err)
    }
    err = client.Schema.Create(context.Background(), migrate.WithDropColimn(true), migrate.WithFropIndex(true))
    if err != nil {
        log.Fatalln(err)
    }
    Client = client
}