package routes

import (
    "{{ dir .Package }}/handlers"
    "github.com/gofiber/fiber/v2"
)

func routes(r fiber.Router) {
    {{- range .Schemas }}
    {{- $r := plural .Name | camel  }}
    {{- $pn := pascal .Name}}
    {{- $ppn := pascal .Name | plural }}
    {{ $r }} := r.Group("/{{ $r }}")
    {{- if skip_schema_query . | not}}
    {{ $r }}.Get("/:id", handlers.Read{{ $pn }})
    {{ $r }}.Get("/", handlers.Read{{ $ppn }})
    {{- end}}
    {{- if skip_schema_create . | not}}
    {{ $r }}.Post("/", handlers.Create{{ $pn }})
    {{ $r }}.Post("/bulk", handlers.Create{{ $ppn }})
    {{- end}}
    {{- if skip_schema_update . | not}}
    {{ $r }}.Patch("/:id", handlers.Update{{ $pn }})
    {{ $r }}.Patch("/", handlers.Update{{ $ppn }})
    {{- end}}
    {{- if skip_schema_delete . | not}}
    {{ $r }}.Delete("/:id", handlers.Delete{{ $pn }})
    {{ $r }}.Delete("/", handlers.Delete{{ $ppn }})
    {{- end}}
    {{ end -}}
}