package routes

import (
	"{{ dir .Package }}/handlers"
    "{{ dir .Package }}/middleware"
	"github.com/gofiber/fiber/v2"
	"github.com/gofiber/websocket/v2"
)

func Init(r fiber.Router) {
	{{- if .FiberConfig.WithAuth}}
	r.Post("/api/login", handlers.Login)
	r.Post("/api/register", handlers.Register)
	r.Get("/api/download/:filename", handlers.Download)
	r.Post("/api/reset-password", handlers.ResetPassword)
	{{- end}}
	{{- if .FiberConfig.WithEvents}}
	r.Use("/api/ws", middleware.Upgrade)
	r.Get("/api/ws/listen", websocket.New(handlers.Listen))
	{{- end}}
	r = r.Group("/api", middleware.Authorize)
	{{- if .FiberConfig.WithAuth}}
    r.Get("/logout", handlers.Logout)
	r.Get("/logged-in", handlers.LoggedIn)
	{{- end}}
	{{- if .FiberConfig.WithUpload}}
	r.Post("/upload", handlers.Upload)
	{{- end}}
	crud(r)
}
