package routes

import (
    "{{ dir .Package }}/handlers"
    "github.com/gofiber/fiber/v2"
    "github.com/gofiber/contrib/websocket"
)

func routes(r fiber.Router) {
    r.Use("/ws", handlers.Upgrade)
	r.Get("/ws/subscribe", websocket.New(handlers.Subscribe))

    {{ range .Schemas }}
    {{ $r := plural .Name | camel  }}
    {{- $pn := pascal .Name}}
    {{- $ppn := pascal .Name | plural -}}
        {{$r }} := r.Group("/{{ $r }}")
        {{ $r }}.Get("/:id", handlers.Find{{ $pn }})
        {{ $r }}.Get("/", handlers.Find{{ $ppn }})
        {{ $r }}.Post("/", handlers.Create{{ $pn }})
        {{ $r }}.Post("/bulk", handlers.Create{{ $ppn }})
        {{ $r }}.Patch("/:id", handlers.Update{{ $pn }})
        {{ $r }}.Patch("/", handlers.Update{{ $ppn }})
        {{ $r }}.Delete("/:id", handlers.Delete{{ $pn }})
        {{ $r }}.Delete("/", handlers.Delete{{ $ppn }})
    {{ end }}
}