package handlers

import (
	"{{ dir .Package}}/config"
	"{{ dir .Package}}/db"
	"{{ .Package }}/user"
	"{{ .Package }}"
	"errors"
	"time"

	"aidanwoods.dev/go-paseto"
	"github.com/gofiber/fiber/v2"
)

func Login(ctx *fiber.Ctx) error {
	body := new(struct {
		Login    string `json:"login"`
		Password string `json:"password"`
	})
	err := ctx.BodyParser(body)
	if err != nil {
		return StopWithError(ctx, err)
	}
	user, err := db.Client.User.Query().Where(
		user.Or(
			user.Username(body.Login),
			user.Email(body.Login),
		),
	).First(ctx.UserContext())

	if err != nil {
		return StopWithError(ctx, errors.New("wrong credentials"))
	}

	accessTokenExpiration := time.Now().Add(config.AccessExpire)
	accessToken := paseto.NewToken()
	accessToken.SetExpiration(accessTokenExpiration)
	accessToken.SetString("userId", user.ID)
	accessTokenString := accessToken.V4Encrypt(config.AccessKey, config.AccessSecret)

	return ctx.JSON(fiber.Map{
		"code": fiber.StatusOK,
		"data": fiber.Map{
			"user":         user,
			"accessToken":  accessTokenString,
		},
		"status": "success",
	})
}

func Register(ctx *fiber.Ctx) error {
	body := new(ent.UserCreateInput)

	err := ctx.BodyParser(body)
	if err != nil {
		return StopWithError(ctx, err)
	}

	// TODO: edit role before inserting
	user, err := db.Client.User.Create().SetInput(body).Save(ctx.UserContext())
	if err != nil {
		return StopWithError(ctx, err)
	}
	return ctx.Status(fiber.StatusOK).JSON(fiber.Map{
		"code": fiber.StatusCreated,
		"data": user,
	})
}

func Logout(ctx *fiber.Ctx) error {
	ctx.ClearCookie("refreshToken")
	return ctx.JSON(fiber.Map{
		"code":   fiber.StatusOK,
		"status": "success",
	})
}

func LoggedIn(ctx *fiber.Ctx) error {
	iUserId := ctx.Context().UserValue("userId")
	if iUserId == nil {
		return ctx.JSON(fiber.Map{
			"code":   404,
			"status": "error",
		})
	}
	userId := iUserId.(string)
	user, err := db.Client.User.Query().Where(user.ID(userId)).First(ctx.UserContext())
	if err != nil {
		return ctx.Status(404).JSON(fiber.Map{
			"code":   404,
			"status": "error",
			"error": fiber.Map{
				"status": "success",
				"type":    "not found",
				"details": "user not found",
			},
		})
	}
	return ctx.JSON(fiber.Map{"code": 200, "status": "success", "data": user})
}


func ResetPassword(c *fiber.Ctx) error {
	return nil
}