package handlers

import (
	"github.com/gofiber/fiber/v2"
)

func StopWithError(ctx *fiber.Ctx, err error, codes ...int) error {
	code := fiber.StatusBadRequest
	if len(codes) > 0 {
		code = codes[0]
	}
	return ctx.Status(code).SendString(err.Error())
}

func StopWithSuccess(ctx *fiber.Ctx, event string, data any, codes ...int) error {
	code := fiber.StatusOK
	if len(codes) > 0 {
		code = codes[0]
	}
	go Notify(event, data)
	return ctx.Status(code).JSON(data)
}
