package handlers

import (
	"fmt"
	"{{ dir .Package }}/utils"
	"sync"

	"github.com/gofiber/contrib/websocket"
	"github.com/gofiber/fiber/v2"
)

type (
	Action = string
	Kind   = string

	InMessage struct {
		Action Action   `json:"action,omitempty"`
		Events []string `json:"events,omitempty"`
	}

	OutMessage struct {
		Kind  Kind   `json:"kind,omitempty"`
		Event string `json:"event,omitempty"`
		Error any    `json:"error,omitempty"`
		Data  any    `json:"data,omitempty"`
	}

	BusMessage struct {
		Event string `json:"event,omitempty"`
		Data  any    `json:"data,omitempty"`
	}
)

var (
	ActionSubscribe      = Action("subscribe")
	ActionUnsubscribe    = Action("unsubscribe")
	ActionUnsubscribeAll = Action("unsubscribeAll")
	ActionDisconnect     = Action("disconnect")

	KindConnected    = Kind("connected")
	KindDisconnected = Kind("disconnected")
	KindNotify       = Kind("notify")
	KindWarning      = Kind("warning")
	KindError        = Kind("error")

	mutex = sync.Mutex{}
	subs  = make(map[string]map[*websocket.Conn]bool, 0)
)

func subscribe(events []string, c *websocket.Conn) {
	mutex.Lock()
	for _, event := range events {
		m, ok := subs[event]
		if !ok {
			m = make(map[*websocket.Conn]bool)
		}
		m[c] = true
		subs[event] = m
	}
	mutex.Unlock()
}

func unsubscribe(events []string, c *websocket.Conn) {
	mutex.Lock()
	for _, event := range events {
		m, ok := subs[event]
		if ok {
			delete(m, c)
			if len(m) == 0 {
				delete(subs, event)
			} else {
				subs[event] = m
			}
		}
	}
	mutex.Unlock()
}

func Subscribe(c *websocket.Conn) {
	c.WriteJSON(&OutMessage{
		Kind: KindConnected,
	})
	events := []string{}
	for {
		m := new(InMessage)
		err := c.ReadJSON(m)
		if err != nil {
			if websocket.IsCloseError(err) || websocket.IsUnexpectedCloseError(err) {
				unsubscribe(events, c)
				return
			}
			c.WriteJSON(OutMessage{
				Kind:  KindError,
				Error: err.Error(),
			})
			continue
		}
		switch m.Action {
		case ActionSubscribe:
			var appended = []string{}
			events, appended = utils.AppendValues(events, m.Events...)
			log(c, m.Action, appended)
			subscribe(appended, c)
		case ActionUnsubscribe:
			var removed = []string{}
			events, removed = utils.RemoveValues(events, m.Events...)
			log(c, m.Action, removed)
			unsubscribe(removed, c)
		case ActionUnsubscribeAll:
			unsubscribe(events, c)
			events = []string{}
		case ActionDisconnect:
			unsubscribe(events, c)
			return
		}
	}
}

func Broadcast(event string, data any) {
	mutex.Lock()
	fmt.Printf("%+v\n", subs)
	if m, ok := subs[event]; ok {
		for c := range m {
			go c.WriteJSON(OutMessage{
				Kind:  KindNotify,
				Event: event,
				Data:  data,
			})
		}
	}
	mutex.Unlock()
}

func Upgrade(c *fiber.Ctx) error {
	if websocket.IsWebSocketUpgrade(c) {
		return c.Next()
	}
	return fiber.ErrUpgradeRequired
}

func log(c *websocket.Conn, action Action, events []string) {
	fmt.Printf("client: %p \nAction: %v \nEvents %+v", c, action, events)
}
