package middleware

import (
	"{{ dir .Package }}/config"
	"{{ dir .Package }}/handlers"

	"aidanwoods.dev/go-paseto"
	"github.com/gofiber/fiber/v2"
)

func Authorize(ctx *fiber.Ctx) error {
	accessTokenString := ctx.GetReqHeaders()["Authorization"]
	parser := paseto.NewParser()
	accessToken, err := parser.ParseV4Local(config.AccessKey, accessTokenString, config.AccessSecret)
	if err != nil {
		return handlers.StopWithError(ctx, err, fiber.StatusUnauthorized)
	}
	userId, _ := accessToken.GetString("userId")
	ctx.Context().SetUserValue("userId", userId)
	return ctx.Next()
}